In [90]:
import polars as pl
import polars.selectors as cs
import re

# Using `polars` column selectors

In this notebook, we will look at using [`polars` column selectors](https://docs.pola.rs/api/python/stable/reference/selectors.html#selectors) to perform

1. Column selections,
2. Group & Aggregate, and
3. Table Reshaping

## Topic 1 - The Data - World Bank Economic Indicators

First, let's load the World Bank's [World Development Indicators](https://databank.worldbank.org/source/world-development-indicators).

#### Attempt 1

In [91]:
(WB_dev_ind :=
 pl.read_csv('./data/world_bank_raw_download_F23.csv')
)

ComputeError: could not parse `..` as dtype `f64` at column '2011 [YR2011]' (column number 56)

The current offset in the file is 20189 bytes.

You might want to try:
- increasing `infer_schema_length` (e.g. `infer_schema_length=10000`),
- specifying correct dtype with the `schema_overrides` argument
- setting `ignore_errors` to `True`,
- adding `..` to the `null_values` list.

Original error: ```remaining bytes non-empty```

#### Attempt 2

Let's use the first hint and extend the infer schema length.

In [ ]:
(WB_dev_ind :=
 pl.read_csv('./data/world_bank_raw_download_F23.csv', 
             infer_schema_length=10000,
            )
)

#### Attempt 3

Looks like missing data is expressed as `".."`, let's add that as the `null_value`.

In [ ]:
(WB_dev_ind :=
 pl.read_csv('./data/world_bank_raw_download_F23.csv', 
             infer_schema_length=10000, 
             null_values='..',
            )
)

#### Attempt 4 - Removing rows with a null `Series Name`

Notice that there are some extra rows at the bottom of the table that don't correspond to a series name/code.  Let's remove these.

In [ ]:
(WB_dev_ind :=
 pl.read_csv('./data/world_bank_raw_download_F23.csv', 
             infer_schema_length=10000, 
             null_values='..',
            )
 .filter(pl.col("Series Name").is_not_null())
)

#### Attempt 5 - Cleaning up the columns names using `rename` and a `dict` comprehension

Notice that there are some extra rows at the bottom of the table that don't correspond to a series name/code.  Let's remove these.

#### Review - the `rename` method

In [ ]:
(WB_dev_ind
 .rename({'1960 [YR1960]':'1960',
          '1961 [YR1961]':'1961',
         })
 ).head()

#### First, do it to one ...

In [ ]:
'1960 [YR1960]'.split(' [')

In [ ]:
'1960 [YR1960]'.split(' [')[0]

#### ... then do it to all.

In [ ]:
(rename_years :=
    {old: old.split(" [")[0] 
     for old in WB_dev_ind.columns 
     if '[YR' in old
    }
)

In [ ]:
(WB_dev_ind :=
 pl.read_csv('./data/world_bank_raw_download_F23.csv', 
             infer_schema_length=10000, 
             null_values='..',
            )
 .filter(pl.col("Series Name").is_not_null())
 .rename(rename_years)
).head()

## Topic 2 - Using list comprehensions to select columns

While there is a cleaner solution (see below), we can use columns selection to illustrate using `list` comprehensions to programmically process the column names in a select.

To illustrate, we look at some familiar string verbs.
- `by_name` to select by the exact name,
- `contains` to check for a sub-string,
- `starts_with` and `ends_with` to select by prefix/suffix,
- `matches` to capture more complicated patterns with a RegEx.

#### Example - Selecting BY NAME

In [ ]:
(WB_dev_ind
 .select([col 
          for col in WB_dev_ind.columns 
          if col in ("Series Name", "Series Code")
         ])
).head()

#### Example - Selecting the Series name that CONTAINS a substring

In [ ]:
(WB_dev_ind
 .select([col 
          for col in WB_dev_ind.columns 
          if 'Series' in col
         ])
).head()

#### Example - Selecting that STARTSWITH a substring

In [ ]:
(WB_dev_ind
 .select([col 
          for col in WB_dev_ind.columns 
          if (col.startswith('199')
         ])
).head()

#### Example - Selecting columns that MATCH a RegEx pattern

In [ ]:
early_90s = re.compile(r'^199[0-4]')
the_90s = [str(y) for y in range(1990, 2000)]
[early_90s.match(y) for y in the_90s]

In [ ]:
(WB_dev_ind
 .select([col 
          for col in WB_dev_ind.columns 
          if early_90s.match(col)
         ])
).head()

## <font color="red"> Exercise 3.1.1 </font>

Create a table the contains the diabetes prevalence for each region.  For each part, use list comprehensions where possible.

Note that you will need to

1. Reshape to move all relevant series into columns and years into rows,
2. Compute the total diabetes cases for each country/year,
3. Aggregate the numerator (total diabetes) and denominator (population) for each region/year, and
4. Compute the diabetes prevalence.

In [ ]:
# Your code here
(
    WB_dev_ind
    .filter(pl.col('Series Name').str.contains('Diabetes|Population'))
    .unpivot(index=["Region", "Country Name", "Series Name"], 
             on = [col 
                   for col in WB_dev_ind.columns 
                   if (col.startswith('19') or col.startswith('20'))
         ],
            variable_name="Year",   
            value_name="value"  
            )        
    .pivot(
        on="Series Name",
        index=["Region", "Country Name", "Year"], 
        values="value",
        aggregate_function= "sum"
    )
    .with_columns((pl.col('Diabetes prevalence (% of population ages 20 to 79)') * pl.col('Population, total')).alias('total cases'))
    .group_by('Region', "Year")
    .agg([pl.sum("total cases"), pl.sum("Population, total")])
    .with_columns((pl.col('total cases')/pl.col('Population, total')).alias('diabetes prevalence'))
)

## Topic 3 - `polars` Column Selectors

Allow column selection based on

- with familiar string verbs,
- by name,
- index,
- type, or
- other useful helper functions like `contains`, `starts_with`, or `matches`

### Familiar string-based helpers

First, we return to these string verbs.
- `by_name` to select by the exact name,
- `contains` to check for a sub-string,
- `starts_with` and `ends_with` to select by prefix/suffix,
- `matches` to capture more complicated patterns with a RegEx.

#### Example - Selecting by name

In [ ]:
(WB_dev_ind
 .select(cs.by_name("Series Name", "Series Code"))
).head()

#### Example - Selecting the Series name and code using `contains`

In [ ]:
(WB_dev_ind
 .select(cs.contains('Series'))
).head()

#### Example - Selecting the 1990's using `starts_with`

In [ ]:
(WB_dev_ind
 .select(cs.starts_with('199'))
).head()

#### Example - Selecting the first five years of 1990's using `matches`

In [ ]:
(WB_dev_ind
 .select(cs.matches(r'^199[0-4]'))
).head()

### Selecting columns by type

One unique feature of `polars` columns selectors is the ability to select columns by type.

#### Example - Selecting by index

In [ ]:
(WB_dev_ind
 .select(cs.by_index(range(1,5)))
).head()

#### Example - Selecting all string columns.

In [ ]:
(WB_dev_ind
 .select(cs.by_dtype(pl.String))
).head()

In [ ]:
(WB_dev_ind
 .select(cs.string())
).head()

### Combining selectors with set operations

Another useful feature: Combine with set operations:

- **Complement.** `~selector1`
- **Union.** `selector1 | selector2`
- **Intersection.** `selector1 & selector2`
- **Difference.** `selector1 - selector2`
- **Symmetric difference.** `selector1 ^ selector2`

#### Example - All the string/index columns excluding the `Series Code`

In [ ]:
(WB_dev_ind
 .select(cs.string() - cs.contains('Code'))
).head()

#### Example - All index columns (minus the `Series Code`) and the `1990`s

In [ ]:
(WB_dev_ind
 .select(cs.string() - cs.contains('Code') | cs.starts_with('199'))
).head()

### Using column selectors to reshape tables.

Another place where column selectors are useful is when reshaping tables, e.g., using `pivot` or `unpivot`.

### Example - Making a tidy subset of the data

**Goal.** Compare the urban and overall population changes across regions for each year in the `1990`s for each region.

**Task 1.** Tidy up the table by reshaping, by
1. `filter` to the measures of interest,
1. `unpivot` the years in question, and
2. `pivot` to measures into separate columns.

#### Solution - Using columns selectors in `unpivot` and `pivot`

In [ ]:
WB_dev_ind['Series Name'].unique()

In [ ]:
WB_dev_ind['Series Name'].unique()

In [ ]:
(pop_nums :=
 WB_dev_ind
 .select(cs.string() - cs.contains('Code') 
         | cs.starts_with('199')
        )
 .filter(pl.col('Series Name')
           .str.contains(r'^(Urban|Population)')
        )
 .unpivot(on = cs.starts_with('199'),
          index= cs.string(),
          variable_name = "Year",
          )
 .pivot(on = 'Series Name',
        values = 'value',
        index = cs.by_name('Region', 'Year'),  # Column selectors captured the new column!
        aggregate_function='sum'
       )
)

## <font color="red"> Exercise 3.1.2 </font>

Create a table the contains the diabetes prevalence for each region.  For each part, use column selectors where possible.

Note that you will need to

1. Reshape to move all relevant series into columns and years into rows,
2. Compute the total diabetes cases for each country/year,
3. Aggregate the numerator (total diabetes) and denominator (population) for each region/year, and
4. Compute the diabetes prevalence.

In [ ]:
# Your code here
(
    WB_dev_ind
    .filter(pl.col('Series Name')
           .str.contains(r'^(Diabetes|Population)')
        )
    .unpivot(cs.starts_with('19')| cs.starts_with('20'),
          index= cs.string(),
          variable_name = "Year",
        )
    .pivot(
        on="Series Name",
        index= cs.by_name('Region', 'Year', 'Country Name'), 
        values="value",
        aggregate_function= "sum"
    )
    .with_columns((pl.col('Diabetes prevalence (% of population ages 20 to 79)') * pl.col('Population, total')).alias('total cases'))
    .group_by('Region', "Year")
    .agg([pl.sum("total cases"), pl.sum("Population, total")])
    .with_columns((pl.col('total cases')/pl.col('Population, total')).alias('diabetes prevalence'))
)

## Topic 4 - Using columns selectors to group and aggregate.

We can also use column selectors when transforming columns, such as

Aggregation also benefits from columns selectors, both for
1. Performing the same calulation on multiple columns,
2. Selecting columns to `group_by`, as well as
2. Performing multiple similar `agg`regations.

### Example 1 - Computing rates per 1,000 people.

First, let's illustrate using a column selector in a mutate.

**Goal.** Compute the per 1,000 person rates for CO2 and GDP for the 2000s.

In [ ]:
(per_1000_rates :=
 WB_dev_ind
 .filter(pl.col('Series Name').str.contains(r'^(CO2|GDP|^Pop)'),
         pl.col('Region').is_not_null(),
        )
 .unpivot(on = cs.starts_with('200'),
          index= cs.string() - cs.contains('Code'),
          variable_name = "Year",
          )
 .pivot(on = 'Series Name',
        values = 'value',
        index = cs.by_name('Year', 'Region'),
        aggregate_function='sum',
       )
 .with_columns(cs.starts_with('Pop').cast(pl.Int64))
 .with_columns((cs.float()/pl.col('Population, total')*1000).name.suffix(' per 1,000 people'))
)

### Example 2 - Compute the regional population totals.

#### Solution 1 - Without column selectors

In [ ]:
(pop_nums
 .filter(pl.col('Region').is_not_null())
 .group_by('Region', 'Year')
 .agg(pl.col('Population, total').sum(),
      pl.col('Urban population').sum(),
     )
)

#### Solution 2 - With column selectors

In [ ]:
(pop_nums_by_region_and_year :=
 pop_nums
 .drop(cs.starts_with('C'))
 .filter(pl.col('Region').is_not_null())
 .group_by(cs.string())
 .agg(cs.float().sum(),
      # cs.float().mean(),
     )
)

In [ ]:
(pop_nums_by_region_and_year :=
 pop_nums
 .drop(cs.starts_with('C'))
 .filter(pl.col('Region').is_not_null())
 .group_by(cs.string())
 .agg(cs.float().sum().name.prefix('total_'),
      cs.float().mean().name.prefix('mean_'),
     )
)

### Cleaning up multiple column transformations

Finally, we can use column selectors to perform the same computation to multiple columns simultaneously.

### Example - Converting the population totals to per 1000 people.

#### Solution 1 - Without column selectors

In [ ]:
(pop_per_1K_by_region_and_year :=
 pop_nums_by_region_and_year
 .with_columns(pl.col('Population, total')/1000, 
               pl.col('Urban population')/1000,
              )
)

#### Solution 2 - With column selectors

In [ ]:
(pop_per_1K_by_region_and_year :=
 pop_nums_by_region_and_year
 .with_columns(cs.float()/1000)
)

### Example - Standardize multiple columns

#### Solution 1 - Without column selectors

In [ ]:
(pop_z_scores_by_region_and_year :=
 pop_nums_by_region_and_year
 .with_columns((pl.col('Population, total') - pl.col('Population, total').mean())/pl.col('Population, total').std(), 
               (pl.col('Urban population') - pl.col('Urban population').mean())/pl.col('Urban population').std(),
              )
)

#### Solution 2 - With columns selectors

In [ ]:
(pop_per_1K_by_region_and_year :=
 pop_nums_by_region_and_year
 .with_columns((cs.float() - cs.float().mean())/cs.float().std())
)

### Example - Standardize multiple columns (within `Region`)

#### Solution 1 - Without column selectors

In [ ]:
(pop_z_scores_by_region_and_year :=
 pop_nums_by_region_and_year
 .with_columns((pl.col('Population, total') - pl.col('Population, total').mean().over('Region'))/pl.col('Population, total').std().over('Region'), 
               (pl.col('Urban population') - pl.col('Urban population').mean().over('Region'))/pl.col('Urban population').std().over('Region'),
              )
)

#### Solution 2 - With columns selectors

In [ ]:
(pop_per_1K_by_region_and_year :=
 pop_nums_by_region_and_year
 .with_columns((cs.float() - cs.float().mean().over('Region'))/cs.float().std().over('Region'))
)

## <font color="red"> Exercise 3.1.3 </font>

Now redo the work in the first exercise, but also use one column selector to perform the `agg` step.

In [93]:
# Your code here
(
    WB_dev_ind
    .filter(pl.col('Series Name')
           .str.contains(r'^(Diabetes|Population)')
        )
    .unpivot(cs.starts_with('19')| cs.starts_with('20'),
          index= cs.string(),
          variable_name = "Year",
        )
    .pivot(
        on="Series Name",
        index= cs.by_name('Region', 'Year', 'Country Name'), 
        values="value",
        aggregate_function= "sum"
    )
    .with_columns((pl.col('Diabetes prevalence (% of population ages 20 to 79)') * pl.col('Population, total')).alias('total cases'))
    .drop('Country Name')
    .group_by(cs.string())
    .agg(cs.float().sum())
    .with_columns((pl.col('total cases')/pl.col('Population, total')).alias('diabetes prevalence'))
)

shape: (441, 6)
┌─────────┬──────┬─────────────────────────┬───────────────────┬─────────────┬─────────────────────┐
│ Region  ┆ Year ┆ Diabetes prevalence (%  ┆ Population, total ┆ total cases ┆ diabetes prevalence │
│ ---     ┆ ---  ┆ of popu…                ┆ ---               ┆ ---         ┆ ---                 │
│ str     ┆ str  ┆ ---                     ┆ f64               ┆ f64         ┆ f64                 │
│         ┆      ┆ f64                     ┆                   ┆             ┆                     │
╞═════════╪══════╪═════════════════════════╪═══════════════════╪═════════════╪═════════════════════╡
│ Europe  ┆ 1968 ┆ 0.0                     ┆ 3.8281e9          ┆ 0.0         ┆ 0.0                 │
│ Asia    ┆ 1965 ┆ 0.0                     ┆ 1.0425e10         ┆ 0.0         ┆ 0.0                 │
│ Asia    ┆ 1968 ┆ 0.0                     ┆ 1.1208e10         ┆ 0.0         ┆ 0.0                 │
│ Europe  ┆ 1986 ┆ 0.0                     ┆ 4.1919e9          ┆ 0.0         ┆ 0.0                 │
│ Oceania ┆ 1982 ┆ 0.0                     ┆ 1.41242118e8      ┆ 0.0         ┆ 0.0                 │
│ …       ┆ …    ┆ …                       ┆ …                 ┆ …           ┆ …                   │
│ Africa  ┆ 1987 ┆ 0.0                     ┆ 3.5165e9          ┆ 0.0         ┆ 0.0                 │
│ Europe  ┆ 1961 ┆ 0.0                     ┆ 3.6035e9          ┆ 0.0         ┆ 0.0                 │
│ Africa  ┆ 1965 ┆ 0.0                     ┆ 1.9218e9          ┆ 0.0         ┆ 0.0                 │
│ Oceania ┆ 2006 ┆ 0.0                     ┆ 2.05413258e8      ┆ 0.0         ┆ 0.0                 │
│ Oceania ┆ 1987 ┆ 0.0                     ┆ 1.51972332e8      ┆ 0.0         ┆ 0.0                 │
└─────────┴──────┴─────────────────────────┴───────────────────┴─────────────┴─────────────────────┘